<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Authenticated</title>
</head>
<body>
<h1>Authenticated</h1>
Authenticated as <span sec:authentication="name"></span>
<form method="post" th:action="@{/logout}">
    <button type="submit">Sign out</button>
</form>
<br>
<h1>MY FILES:</h1>
<a th:href="@{/search/user-{path}-files/(path=${#authentication.getPrincipal().getId()})}">files</a>
</body>
</html>