<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Authenticated</title>
</head>
<body>
<h1>Authenticated</h1>
Authenticated as <span sec:authentication="name"></span>
<form method="post" th:action="@{/logout}">
    <button type="submit">Sign out</button>
</form>
<br>
<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <div class="form-group">
        <label>Choose image:</label>
        <input type="file" name="file">
    </div>
    <button type="submit">Upload image</button>
    <div th:if="${error}" style="color:red" th:text="${error}"></div>
</form>
<br>
<div th:each="file : ${files}">
<p>name: <span th:text="${file.getName()}" th:href="${file.getUrl()}"></span></p>
</div>
</body>
</html>